@model ApplicationPortfolio.Mvc.ViewModels.Application.ApplicationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Application</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Application.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.Name)
    </div>

    
    @*Documents*@


    @*Contacts*@


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Application.BusinessCriticality.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.BusinessCriticality.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Application.ServiceArea.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.ServiceArea.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Application.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Application.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
