@model ApplicationPortfolio.Mvc.ViewModels.Application.ApplicationEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Application</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Application</legend>

        @Html.HiddenFor(model => model.Application.ApplicationId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Application.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Application.Name)
            @Html.ValidationMessageFor(model => model.Application.Name)
        </div>

        @*PartialView to show application contacts*@

        @Html.Partial("_ApplicationContacts", Model.ApplicationContacts)
        
        
        @*PartialView to show application documents*@
        @Html.Partial("_ApplicationDocuments", Model.ApplicationDocuments)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Application.BusinessCriticalityId, "BusinessCriticality")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.BusinessCriticalitySelectedValue, new SelectList(Model.BusinessCriticalities,"BusinessCriticalityId","Name"))
            @*@Html.DropDownList("BusinessCriticalityId", String.Empty)*@
            @Html.ValidationMessageFor(model => model.Application.BusinessCriticalityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Application.ServiceAreaId, "ServiceArea")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.ServiceAreaSelectedValue, new SelectList(Model.ServiceAreas,"ServiceAreaId","Name"))
            @*@Html.DropDownList("ServiceAreaId", String.Empty)*@
            @Html.ValidationMessageFor(model => model.Application.ServiceAreaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Application.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Application.Description)
            @Html.ValidationMessageFor(model => model.Application.Description)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

