@{
    Layout = "~/Shared/Views/Shared/Trafford/Intranet.cshtml";
}

@section Head
{
    <meta name="svg.config.data-path" content="@Url.Content("~/Content/SVG/")" />

    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/ResourceBooking.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Profiles.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/JQuery.JCrop.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Carpark.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Print.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/stub.css")">


    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.hoverIntent.minified.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
    

    <script src="@Url.Content("~/Scripts/Desk.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Profile.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Room.js")" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/SVG/svg-uncompressed.js")" type="text/javascript"></script>
        <![endif]-->


    <script type="text/javascript">
        $(document).ready(function () {

            $("#tab-desks").addClass("current");
            $("#systemHeader").addClass("fixed");

            $("ul.subnav").parent().append("<span></span>");
            $("ul.subnav").parent().addClass("parent");
            $("ul.subnav").parent().hoverIntent({
                over: function () {
                    $(this).find("ul.subnav").slideDown('fast').show();
                },
                out: function () {
                    $(this).find("ul.subnav").slideUp('slow');
                },
                timeout: 200,
                interval: 100
            });
        });

    </script>


    @RenderSection("Head", false)

}

@section ContextBar
{

    <li id="tab-myBookings"><a href="@Url.Action("Index", "MyBookings", new { id = "" })">
        <img src="@Url.Content("~/Content/Icons/calendar.png")" />
        My Bookings</a></li>
    <li id="tab-desks" class="navbar tab-iefix">
        <a href="@Url.Action("Index", "Desk")">
            <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
            Desks</a>
        <ul class="subnav">
            <li id="bookDesk"><a href="@Url.Action("Index", "Desk")">
                <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
                Book Desk</a></li>
            <li id="infoDesk"><a href="@Url.Action("Information", "Desk")">
                <img src="@Url.Content("~/Content/Icons/information.png")" />
                Desk Information</a></li>
        </ul>
    </li>

    <li id="tab-rooms" class="navbar tab-iefix disabled">
        <a href="@Url.Action("Index", "Room")">
            <img src="@Url.Content("~/Content/Icons/door_open.png")" />
            Rooms</a>
        <ul class="subnav">
            <li id="bookRoom"><a href="@Url.Action("Index", "Room")">
                <img src="@Url.Content("~/Content/Icons/door_open.png")" />
                Book Room</a></li>
            <li id="roomCalendar"><a href="@Url.Action("Calendar", "Room")">
                <img src="@Url.Content("~/Content/Icons/calendar.png")" />
                Room Calendar</a></li>
            <li id="roomInfo">
                <a href="@Url.Action("Information", "Room")">
                    <img src="@Url.Content("~/Content/Icons/information.png")" />
                    Room Information
                </a>
            </li>
            <li id="tth-room-schedule">
                <a href="@Url.Action("rooms", "info")">
                    <img src="@Url.Content("~/Content/Icons/information.png")" />
                    TTH Room Schedule
                </a>
            </li>
            <li id="waterside-room-schedule">
                <a href="@Url.Action("rooms", "info", new { ResourceId = "F669A3EE-BE56-44CC-AD8D-5E8DFFB186FF" },null)">
                    <img src="@Url.Content("~/Content/Icons/information.png")" />
                    Waterside Room Schedule
                </a>
            </li>
            <li id="legacy-rooms">
                <a href="http://intranet.trafford.gov.uk/SelfService/RoomBookings/">
                    <img src="@Url.Content("~/Content/Icons/door_open.png")" />
                    Legacy Room Booking</a>
            </li>
        </ul>
        @*<a href="http://intranet.trafford.gov.uk/SelfService/RoomBookings/"><img src="@Url.Content("~/Content/Icons/door_open.png")" /> Rooms</a>*@
    </li>

    @if (ViewBag.ViewParking != null && ViewBag.ViewParking)
    {
        <li id="tab-parking" class="navbar tab-iefix disabled">
            <a href="@Url.Action("Index", "Parking")">
                <img src="@Url.Content("~/Content/Icons/car.png")" />
                Parking</a>
            <ul class="subnav">
                <li id="parkingBook"><a href="@Url.Action("Index", "Parking")">
                    <img src="@Url.Content("~/Content/Icons/car.png")" />
                    Book Parking</a></li>
                <li id="parkingInfo"><a href="@Url.Action("Info", "Parking")">
                    <img src="@Url.Content("~/Content/Icons/information.png")" />
                    Parking Information</a></li>
                <li id="parkingSearch"><a href="@Url.Action("Search", "Parking")">
                    <img src="@Url.Content("~/Content/Icons/magnifier.png")" />
                    Parking Search</a></li>
            </ul>
        </li>
    }

}

<div class="page">
@RenderBody()
    </div>