@{
    Layout = "~/Shared/Views/Shared/Trafford/Intranet.cshtml";
}

@section Head
{
   @* <meta name="svg.config.data-path" content="@Url.Content("~/Content/SVG/")" />*@

    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/ResourceBooking.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Profiles.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/JQuery.JCrop.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Carpark.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Print.css")">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/stub.css")">


    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.hoverIntent.minified.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    

    <script src="@Url.Content("~/Scripts/Desk.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Profile.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Room.js")" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/SVG/svg-uncompressed.js")" type="text/javascript"></script>
        <![endif]-->


    <script type="text/javascript">
        $(document).ready(function () {

            $("#tab-applications").addClass("current");
            $("#systemHeader").addClass("fixed");

            $("ul.subnav").parent().append("<span></span>");
            $("ul.subnav").parent().addClass("parent");
            $("ul.subnav").parent().hoverIntent({
                over: function () {
                    $(this).find("ul.subnav").slideDown('fast').show();
                },
                out: function () {
                    $(this).find("ul.subnav").slideUp('slow');
                },
                timeout: 200,
                interval: 100
            });
        });

    </script>


    @RenderSection("Head", false)

}

@section ContextBar
{

    <li id="tab-applications"><a href="@Url.Action("Index", "Application", new { id = "" })">
        <img src="@Url.Content("~/Content/Icons/calendar.png")" />
        Applications</a>
        <ul class="subnav">
            <li id="AppSubItem1"><a href="@Url.Action("Index", "Application")">
                <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
                Sub Item 1</a></li>
            <li id="AppSubItem2"><a href="@Url.Action("Index", "Application")">
                <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
                Sub Item 2</a></li>
        </ul>
    </li>


    <li id="tab-contacts" class="navbar tab-iefix">
        <a href="@Url.Action("Index", "Contact")">
            <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
            Contacts</a>
    </li>

    <li id="tab-documents" class="navbar tab-iefix disabled">
        <a href="@Url.Action("Index", "Room")">
            <img src="@Url.Content("~/Content/Icons/door_open.png")" />
            Documents</a>
        <ul class="subnav">
            <li id="documents-documentType"><a href="@Url.Action("Index", "Room")">
                <img src="@Url.Content("~/Content/Icons/door_open.png")" />
                Document Type</a></li>
            <li id="documents-appdocuments"><a href="@Url.Action("Calendar", "Room")">
                <img src="@Url.Content("~/Content/Icons/calendar.png")" />
                Application Documents</a></li>
            <li id="documents-serverdocuments">
                <a href="@Url.Action("Information", "Room")">
                    <img src="@Url.Content("~/Content/Icons/information.png")" />
                    Server Documents
                </a>
            </li>
           
        </ul>
        </li>
    <li id="tab-servers" class="navbar tab-iefix">
        <a href="@Url.Action("Index", "Server")">
            <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
            Servers</a>
    </li>

    <li id="tab-reports" class="navbar tab-iefix">
        <a href="@Url.Action("Index", "Contact")">
            <img src="@Url.Content("~/Content/Icons/desk_green.png")" />
            Reports</a>
    </li>

    @if (ViewBag.ViewParking != null && ViewBag.ViewParking)
    {
      //if there any conditional showing of navigation then use this template
    }

}

<div class="page">
@RenderBody()
    </div>